.EasyMDEContrainer .editor-toolbar {
  border: none;
}

.EasyMDEContrainer .CodeMirror {
  border: none;
}

.deitor-preview {
  background-color: white;
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background-color: transparent;
}

pre {
  padding: 20px;
  background-color: #efefef;
}

blockquote {
  border-left: 5px solid #ddd;
  padding-left: 20px;
  margin-left: 0px;
}